<div class="jumbotron">
    <h1>Sportsplay service</h1>
    <p class="lead">Welcome to the Sportsplay service page.</p>
    <p>@Html.ActionLink("Learn API", "Index", "Help", new { area = "" }, new { @class = "btn btn-primary btn-large" })</p>
</div>
